.container {
	box-sizing: border-box;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);


	background-color: aliceblue;
	border-radius: 25px;
	height: 300px;
	width: 250px;
	padding: 10px;
}

iframe {
	border: none;
	border-radius: 25px;
	width: 100%;
	height: 150px;
}
  